 {% set currentUser = app.user ? user_service.getCustomerPartialDetailById(app.user.id) : null %}
 <style>
 
 .uv-header {
        background-color: transparent;
    }
    .uv-header .uv-header-lt .uv-logo img {
        height: 1800px;
        width: 115px
    }
</style>


<div class="uv-header">
    <div class="uv-container">
        <header>
            <div class="uv-header-lt">
                <a class="uv-logo" href="{{path('helpdesk_knowledgebase_folder')}}">
                    <img src="/tickets/templates/assets/images/logo-soportesd.png" alt="{{ websiteConfiguration.website.name}}" /> <!-- Icono del menu de navegacion-->  
                </a>    
            </div>
            <div class="uv-header-rt">
                {% if currentUser %}
                    <span style="position: relative" class="uv-profile-block">
                        <div class="uv-profile-wrapper uv-dropdown-other">
                            <div class="uv-profile-avatar">
                                <img src="{{ currentUser.smallThumbnail ?  app.request.scheme ~'://' ~ app.request.httpHost ~ asset('') ~ currentUser.smallThumbnail : asset(default_customer_image_path) }}">                       
                            </div>
                            <div class="uv-profile-howdy">
                                <span>{{ 'Howdy!'|trans }}</span>
                                <span class="uv-username">{{ currentUser.firstName }}</span>
                            </div>
                            <div class="uv-drop-icon"></div>
                        </div>
                        <div class="uv-dropdown-list uv-bottom-right uv-text-left">
                            <div class="uv-dropdown-container">
                                <label>{{ 'Account'|trans }}</label>
                                <ul>
                                    <li>
                                        <a href="{{ path('helpdesk_customer_ticket_collection') }}">{{ 'Tickets'|trans }}</a>
                                    </li>
                                    {% if websiteConfiguration.ticketCreateOption == 1 %}
                                        <li>
                                            <a href="{{ path('helpdesk_customer_create_ticket') }}">{{ 'New Ticket Request'|trans }}</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('helpdesk_customer_account') }}">{{ 'Profile'|trans }}</a>
                                    </li>
                                    <li>
                                        <a class="uv-text-danger" href="{{ path('helpdesk_customer_logout') }}">{{ 'Sign Out'|trans }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                {% else %}
                    <nav id="front_nav">
                        <ul>
                            <li><a href="{{path('helpdesk_knowledgebase_folder')}}" class="home-head">{{"Home"|trans}}</a></li>
                            {% for headerLink in websiteConfiguration.headerLinks %}
                                <li><a href="{{headerLink.url}}" target="_blank">{{headerLink.label}}</a></li>
                            {% endfor %}

                            {% if websiteConfiguration is defined and websiteConfiguration.ticketCreateOption %}
                                {% if not websiteConfiguration.loginRequiredToCreate or app.user %}
                                    <li><a href="{{path('helpdesk_customer_create_ticket')}}" class="uv-btn-small btn-head">{% trans %}Contact Us{% endtrans %}</a></li>
                                {% endif %}
                            {% endif %}

                            {% if websiteConfiguration is defined and websiteConfiguration.removeCustomerLoginButton is defined %}
                                {% if not websiteConfiguration.removeCustomerLoginButton %}
                                    <li><a href="{{path('helpdesk_customer_login')}}" class="uv-btn-small btn-head">{% trans %}Sign In{% endtrans %}</a></li>
                                {% endif %}  
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="uv-hamburger">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="20px" height="15px">
                        <path fill-rule="evenodd"
                        d="M18.500,9.000 L1.500,9.000 C0.672,9.000 0.000,8.328 0.000,7.500 C0.000,6.672 0.672,6.000 1.500,6.000 L18.500,6.000 C19.328,6.000 20.000,6.672 20.000,7.500 C20.000,8.328 19.328,9.000 18.500,9.000 ZM18.500,3.000 L1.500,3.000 C0.672,3.000 0.000,2.328 0.000,1.500 C0.000,0.672 0.672,-0.000 1.500,-0.000 L18.500,-0.000 C19.328,-0.000 20.000,0.672 20.000,1.500 C20.000,2.328 19.328,3.000 18.500,3.000 ZM1.500,12.000 L18.500,12.000 C19.328,12.000 20.000,12.672 20.000,13.500 C20.000,14.328 19.328,15.000 18.500,15.000 L1.500,15.000 C0.672,15.000 0.000,14.328 0.000,13.500 C0.000,12.672 0.672,12.000 1.500,12.000 Z"/>
                        </svg>
                    </div>
                {% endif %}
            </div>
        </header>
    </div>
</div>